@charset "ISO-8859-1";

/* UUTTA TAVARAA */

html {
	background-color: #F3F3F3;
}

.wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.container-photo {
	vertical-align: top;
	margin-bottom: auto;
	margin-left: 15px;
	margin-right: 15px;
	height: 70%;
	width: 15%;
	padding: 15px;
}

.button-logout {
	width: 100px;
}

/* FORM */

.container-form {
	width: 30%;
	
}

form {
	display: grid;
	grid-gap: 16px;
	font-family: "Times New Roman", Times, serif;
}

.header-form {
	grid-column: 1/5;
}

h2 {
	text-align: center;
	color: black;
	font-size: 20px;
}

/* Selitteet*/
.textbox-label {
	grid-column: 1/1;
	text-align: right;
	margin-left: auto;
}

/* Tekstikentät */
.textbox-input {
	background-color: white;
	grid-column: 2/5;
	border-radius: 7px;
	border-style: ridge;
}

/* Kotipaikkakunta drop-down */
optgroup {
	color: darkorange;
}

select {
	color: grey;
}

option {
	color: #000;
}

/* Napit */
.container-buttons {
	grid-column: 1/5;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px;
}

.button {
	width: 75px;
	margin-left: 5px;
}

/* PROPTIP */

.container-protip {
	background-color:infobackground;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;
	margin-right: 15px;
	height: 70%;
	width: 15%;
	padding: 15px;
}

/* DEBUGGING */

.button,
.container-buttons
.container-form,
.container-photo,
.container-protip,
form,
h2,
.header-form,
.textbox-label,
.textbox-input,
.wrapper {
	/*
	border: 1px dashed red;
	*/
}
