@charset "ISO-8859-1";

/* CSS VARIABLES */
:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #000000;
    --text-secondary: #ececec;
    --bg-primary: #f7f7f7;
    --bg-secondary: #3c853a;
    --bg-third: #f83737;
    --bg-fourth: rgb(236, 248, 255);
    --transition-speed: 600ms;

    /* Theme colours */

    --gray0: #f8f8f8;
    --gray1: #dbe1e8;
    --gray2: #b2becd;
    --gray3: #6c7983;
    --gray4: #454e56;
    --gray5: #2a2a35;
    --gray6: #12181b;
    --black: rgb(10, 10, 10);
    --blue: #0084a5;
    --purple: #a82dd1;
    --yellow: #fff565;

    /* Color theme 1 */
    --t1-dark: #090C02;
    --t1-dark2: rgb(19, 19, 19);
    --t1-white: #fff;
    --t1-highlight: #1c2024;
    --t1-light1: #BBC5AA;
    --t1-light2: #DDE2C6;
    --t1-light3: #E6EED6;
}

.wrapper {
    margin-top: 5rem;
}

body {
    color: var(--text);
    background: var(--bg);
    margin: 0;
    padding: 0;
}

/* Custom scrollbar */
body::-webkit-scrollbar {
    width: 1rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #b1b1b1;
}

/* Etusivun sisältö */
.container-mainpage {
	width: 40rem;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/* Header */
.page-header {
    
}

.header-head {
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5rem;
    margin: 0;
    color: var(--text);
    background: var(--bg-nav);
}

.header-item {
    width: 100%;
    text-align: center;
}

.header-item a {
    color: var(--nav-text);
    font-weight: bold;
    text-decoration: none;
    transition: font-size 100ms ease-in;
}

.header-item a:hover {
    color: #fff;
    text-shadow: 0 0 10px var(--hover-color);
    font-size: 1.2rem;
}

/* Kysymys-sivu */
#kysymys {
	width: 40vw;
}

/* Boksi johon kaikki kysymykset tulevat */
#kysymykset {
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem; /* ettei kysymykset jää navbarin alle portrait modessa */
    margin-left: 10vw; /* vw = viewport width prosentteina */ 
    margin-right: 10vw;
}

/* Yksitäisen kysymyksen osuus */
.kysymys-span {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.kysymys-span button {
    opacity: 0;
	width: 2rem;
    height:2rem;
    border-radius: 5px;
    margin-right: 2px;
    transition: opacity 0ms;
}

.kysymys-span:hover button{
    opacity: 1;
}

.kysymys-span input {
	margin-left: 15px; 
	margin-top: 3px;
    margin-bottom: 0;
}

.kysymystext {
	width: 60vw;
}

.btn-edit {
    background-color: var(--bg-secondary);
}

.btn-del {
    background-color: var(--bg-third);
}

/* Font Awesome ikonit */
.fa-pen,
.fa-check,
.fa-times,
.fa-trash-alt {
    color: var(--text-secondary);
    text-shadow: 0 0 5px black;
}

form {
	margin-top: 15px;
	position: relative;
    width: 50rem;
	display: grid;
    grid-gap: 12px;
    font-size: 24;
	margin-left: auto;
	margin-right: auto;
    vertical-align: center;
    color: var(--text);
}

.header-form {
    grid-column: 1/3;
    height:3rem;
    margin-bottom: 1rem;
}

/* Onnistuneen lisäyksen/muokkauksen/poiston efekti */
.success {
    animation: fadeout 3s ease-in-out;
}

@keyframes fadeout {
    from {
        background-color: var(--bg-primary);
        color: var(--text-primary);
    }

    25% {
        background-color: var(--bg-secondary);
        color: var(--text-secondary);
    }

    75% {
        background-color: var(--bg-secondary);
        color: var(--text-secondary);
    }

    to {
        background-color: var(--bg-primary);
        color: var(--text-primary);
    }
}

h2 {
	text-align: center;
    vertical-align:middle;
    color: var(--text);
	font-size: 20px;
}

/* Selitteet */
.textbox-label {
    grid-column: 1 / 2;
	text-align: right;
    margin-left: auto;
}

/* Tekstikentät */
.textbox-input {
    grid-column: 2 / 3;
    width: 18rem;
    background-color: white;
}

textarea {
   resize: none;
}

/* Kotipaikkakunta drop-down */
optgroup {
	color: darkorange;
}

select {
	color: grey;
}

option {
	color: #000;
}

/* Napit */
.container-buttons {
    grid-column: 1 / 3;
    height: 100px;
	display: flex;
	flex-direction: row;
    justify-content: center;
	padding: 5px;
}

.button {
    width: 75px;
    height: 30px;
	margin-left: 5px;
}

/* Navbar */
.navbar {
    position: fixed;
    background-color: var(--bg-nav-side);
    transition: width 200ms ease;
    z-index: 1;
    margin-top: 5rem;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--nav-text);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-nav-flip);
    color: var(--nav-text-flip);
}

.logout:hover {
    background: var(--bg-third);
}

.link-text {
    display: none;
    margin-left: 1rem;
    font-weight: bold;
}

.nav-link i {
    width: 2rem;
    margin: 0 1.5rem;
    color: var(--nav-text);
    font-size: 1.5em !important;
}

.nav-link:hover i {
    color: var(--nav-text-flip);
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--nav-text);
    background: var(--bg-nav-side);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo i {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
    font-size: 1em !important;
}

.navbar:hover .logo i {
    transform: rotate(-180deg);
    margin-left: 1rem;
}

/* Dropdown menu */
.dropdown {
    position: absolute;
    width: 300px;
    opacity: 0;
    z-index: 2;
    background: var(--bg-dropdown);
    border: 2px solid var(--border-color);

    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3rem;
    margin-top: 2rem;
    padding: 0.5rem;

    list-style: none;

    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.175rem 0.5em;
    transform: translateX(-15%);

    transition: opacity .15s ease-out;
}

.has-dropdown:focus-within .dropdown {
    opacity: 1;
    pointer-events: auto;
}

.dropdown-item a {
    width: 100%;
    height: 100%;
    size: 0.7rem;
    padding-left: 10px;
    font-weight: bold;
}

.dropdown-item a::before {
    content: ' ';
    background: var(--theme-select-dark);
    border: 2px solid var(--border-color);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

/* Color Themes */
/* fireship.io */

.light {
    --bg: var(--gray0);
    --bg-nav: var(--gray4);
    --bg-nav-flip: var(--gray2);
    --bg-nav-side: var(--t1-highlight);
    --bg-dropdown: var(--gray4);
    --text: var(--gray6);
    --text-flip: var(--gray0);
    --nav-text: var(--gray0);
    --nav-text-flip: var(--gray6);
    --hover-color: var(--black);
    --border-color: var(--gray6);
    --theme-select-light: var(--gray1);
    --theme-select-dark: var(--gray1);
}

.dark {
    --bg: var(--t1-dark2);
    --bg-nav: var(--t1-dark);
    --bg-nav-flip: var(--t1-dark2);
    --bg-nav-side: var(--t1-highlight);
    --bg-dropdown: var(--gray4);
    --text: var(--gray0);
    --text-flip: var(--t1-white);
    --nav-text: var(--gray0);
    --nav-text-flip: var(--t1-white);
    --hover-color: var(--t1-white);
    --border-color: var(--gray1);
}

/* Modal menu */
.modal-bg {
    position: fixed;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.active {
    visibility: visible;
    opacity: 1;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: center;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--bg-third);
    color: white;
}

.modal {
    position: relative;
    background-color: white;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal button {
    margin-top: 5px;
    padding: 10px 30px;
    background-color: #2980b9;
    color: white;
    border: none;
    cursor: pointer;
}

/* Small screens */
@media only screen and (max-width:700px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    .wrapper {
        
    }
    
    form {
	width: 70%;
	margin-bottom: 5rem;
    }
    
    .header-item {
        justify-content: center;
    }

    .header-head {
        position: absolute;
    }
}

/* Large screens */
@media only screen and (min-width: 700px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }
    
    .navbar:hover .link-text {
        display: inline;
        transition: opacity var(--transition-speed);
    }
}
