@charset "ISO-8859-1";

.edit {
	background-color: #8cff2e;
	padding: 5px;
}

.editButton {
	background-color: #8cff2e;
	padding: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: 3px;
	width: 100%;
}

.deleteButton {
	background-color: #ff3c2e;
	color: white;
	padding: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3px;
	margin-bottom: auto;
	width: 100%;
}

.editButtonCell {
	width: 75px;
}

td {
	background-color: #f5f5f5;
}

th {
	text-align: left;
}

.wrapper {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

form {
	display: grid;
	grid-template-columns: 150px 1fr;
	grid-gap: 16px;
}

label {
	grid-column: 1/2;
	text-align: right;
}

input {
	grid-column: 2/3;
}

.submit-button {
	background-color: darkgray;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	padding: 5px;
}

.submit-button:hover {
	background-color: grey;
}

nav, h2 {
	text-align: center;
	color: black;
	font-size: 20px;
	padding: 5px;
	text-decoration:none;
}

/* Kotipaikkakunta drop-down */
optgroup {
	color: darkorange;
}

select {
	color: grey;
}

option {
	color: #000;
}